{% extends 'templates/my_backstage/base.html' %}

{% load static %}

{% block change_password %}
    <section class="section contact-me" data-section="{% url 'home:change_password' %}">
        <div class="container">
          <div class="section-heading">
            <h2>修改密码</h2>
            <div class="line-dec"></div>
          </div>
          <div class="row">
            <div class="right-content">
              <div class="container">
                <form id="contact" action="{% url 'home:change' %}" method="post">
                  <div class="row">
                    <div class="col-md-12">
                      <fieldset>
                        <input
                          name="password"
                          type="password"
                          class="form-control"
                          id="password"
                          placeholder="旧密码"
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input
                          name="new_password"
                          type="password"
                          class="form-control"
                          id="new_password"
                          placeholder="新密码"
                          required=""
                        />
                      </fieldset>
                    </div>
                                          <div class="col-md-12">
                      <fieldset>
                        <input
                          name="again_password"
                          type="password"
                          class="form-control"
                          id="again_password"
                          placeholder="确认密码"
                          required=""
                        />
                      </fieldset>
                    </div>
                      <div class="col-md-12">
                      <fieldset>
                        <input
                          name="email"
                          type="text"
                          class="form-control"
                          id="email"
                          placeholder="邮箱"
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="button">
                          确认
                        </button>
                      </fieldset>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}