{% extends 'base.html' %}
{% load static %}


{% block bottom1 %}

    <section class="ftco-section bg-light  ftco-slant ftco-slant-white" id="section-features">
        <div class="container">

            <div class="row">
                <div class="col-md-12 text-center mb-5 ftco-animate">
                    <h2 class="text-uppercase ftco-uppercase">旅途热闻</h2>
                    <div class="row justify-content-center">
                        <div class="col-md-7">
                            <p class="lead">收罗旅途热闻，实时更新，为您播报</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="media d-block mb-4 text-center ftco-media p-md-5 p-4 ftco-animate">
                        <div class="ftco-icon mb-3"><span class="oi oi-thumb-up display-4 text-muted"></span></div>
                        <div class="media-body">
                            <h5 class="mt-0">这个地方号称最美村镇 到底有多美</h5>
                            <p class="mb-5">有句话叫做“食在广州，厨出凤城”，广州美食多是公认的，这凤城又是哪座城市？很多人都不知道，凤城指的是顺德。这句谚语形成于明末清初，大意是说顺德是粤菜的发源地之一，不仅以美食闻名，而且大厨辈出。</p>
                            <p class="mb-0"><a href="#" class="btn btn-primary btn-sm">Learn More</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="media d-block mb-4 text-center ftco-media p-md-5 p-4 ftco-animate">
                        <div class="ftco-icon mb-3"><span class="oi oi-bolt display-4 text-muted"></span></div>
                        <div class="media-body">
                            <h5 class="mt-0">国内第一座生态名山，休闲度假的醉氧之旅 </h5>
                            <p class="mb-5">山东临沂旅游，走进蒙山风景区，这座全国第一座生态名山，奇峰耸立层峦叠嶂，百里林海风景秀丽，森林植被覆盖率达98%以上，绿色原生态的天然氧吧，旅游度假养生的醉氧之旅。</p>
                            <p class="mb-0"><a href="#" class="btn btn-primary btn-sm">Learn More</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="media d-block mb-4 text-center ftco-media p-md-5 p-4 ftco-animate">
                        <div class="ftco-icon mb-3"><span class="oi oi-person display-4 text-muted"></span></div>
                        <div class="media-body">
                            <h5 class="mt-0">为了赴这场七夕之约,川酒集团将小酒馆开到了IFS的天台</h5>
                            <p class="mb-5">川酒集团的恋爱小酒馆如约空降成都IFS恋爱天台。来自时尚之都的市民朋友沉浸在甜蜜的旋律和吟唱,逛天台夜市,品美酒美食,在微光天台小窝里仰望星空……</p>
                            <p class="mb-0"><a href="#" class="btn btn-primary btn-sm">Learn More</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="media d-block mb-4 text-center ftco-media p-md-5 p-4 ftco-animate">
                        <div class="ftco-icon mb-3"><span class="oi oi-code display-4 text-muted"></span></div>
                        <div class="media-body">
                            <h5 class="mt-0">为何排队2小时，欣赏20分钟的山西悬空寺，能吸引众多游客 </h5>
                            <p class="mb-5">在山西省大同市浑源县恒山金龙峡西一侧的翠屏峰悬崖之间，悬空寺虽然有8座类似的建筑，但远不如山西悬空寺著名。山西悬空寺的建设与公元491年完成，距今已有1528年的历史，是历史的瑰宝。</p>
                            <p class="mb-0"><a href="#" class="btn btn-primary btn-sm">Learn More</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="media d-block mb-4 text-center ftco-media p-md-5 p-4 ftco-animate">
                        <div class="ftco-icon mb-3"><span class="oi oi-magnifying-glass display-4 text-muted"></span>
                        </div>
                        <div class="media-body">
                            <h5 class="mt-0">湖南境内与广西接壤，有座“蝴蝶王国”般的森林公园，奇美少人知</h5>
                            <p class="mb-5">我们国家有许多名山大川，它们都被世人赋予了各具神采的名字。今天我们要来说一座特殊的山，它位于湖南境内，与广西接壤，是我们国家唯一以上古时期帝王名号命名的古老名山。也许是因为偏居湘南一隅，这里有着独一无二的美景，并且入选为国家森林公园，有着“蝴蝶王国”的美誉，却少有人知——它就是舜皇山。</p>
                            <p class="mb-0"><a href="#" class="btn btn-primary btn-sm">Learn More</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="media d-block mb-4 text-center ftco-media p-md-5 p-4 ftco-animate">
                        <div class="ftco-icon mb-3"><span class="oi oi-phone display-4 text-muted"></span></div>
                        <div class="media-body">
                            <h5 class="mt-0">海水居然是红的，中国独一无二的红色海，一年只红一次 </h5>
                            <p class="mb-5">如果你在看到大海的时候，爱上了它的蓝。那么我要告诉你，在中国有一片红色的海洋，它大概是哪位仙人不慎遗落人间霓裳，所以才能如此热情似火、艳丽斑斓，你一定更喜欢。</p>
                            <p class="mb-0"><a href="#" class="btn btn-primary btn-sm">Learn More</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}