<!doctype html>
<html class="no-js" lang="cn">
{% load static %}
<head>
    <!-- meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!--font-family-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- title of site -->
    <title>Directory Landing Page</title>

    <!-- For favicon png -->
    <link rel="shortcut icon" type="image/icon" href="{% static 'raiders/assets/logo/favicon.png' %}"/>

    <!--font-awesome.min.css-->
    <link rel="stylesheet" href="{% static 'raiders/assets/css/font-awesome.min.css' %}">

    <!--linear icon css-->
    <link rel="stylesheet" href="{% static 'raiders/assets/css/linearicons.css' %}">

    <!--animate.css-->
    <link rel="stylesheet" href="{% static 'raiders/assets/css/animate.css' %}">

    <!--flaticon.css-->
    <link rel="stylesheet" href="{% static 'raiders/assets/css/flaticon.css' %}">

    <!--slick.css-->
    <link rel="stylesheet" href="{% static 'raiders/assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'raiders/assets/css/slick-theme.css' %}">

    <!--bootstrap.min.css-->
    <link rel="stylesheet" href="{% static 'raiders/assets/css/bootstrap.min.css' %}">

    <!-- bootsnav -->
    <link rel="stylesheet" href="{% static 'raiders/assets/css/bootsnav.css' %}">

    <!--style.css-->
    <link rel="stylesheet" href="{% static 'raiders/assets/css/style.css' %}">

    <!--responsive.css-->
    <link rel="stylesheet" href="{% static 'raiders/assets/css/responsive.css' %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->


</head>

<body>
<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

<!-- top-area Start -->
<section class="top-area">
    <div class="header-area">
        <!-- Start Navigation -->
        <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy" data-minus-value-desktop="70"
             data-minus-value-mobile="55" data-speed="1000">

            <div class="container">

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="{% url 'raiders:raiders' %}">旅行<span>攻略</span></a>

                </div><!--/.navbar-header-->
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li><a href="{% url 'home:home' %}">首页</a></li>
                        <li><a href="{% url 'home:attractions' %}">景区列表</a></li>
                        <li><a href="{% url 'home:hotel' %}">酒店列表</a></li>
                        <li><a href="{% url 'home:news' %}">旅途热闻</a></li>
                        <li><a href="{% url 'home:flow' %}">景区流量</a></li>
                        <li><a href="{% url 'raiders:raiders' %}">旅行攻略</a></li>
                        {% ifequal username None %}
                        <li><a href="{% url 'home:login' %}">登录</a></li>
                        <li><a href="{% url 'home:regist' %}">注册</a></li>
                        {% else %}
                            <li>
                                <a href="{% url 'home:my_home' %}">{{ username }}</a>
                            </li>
                        {% endifequal %}
                    </ul><!--/.nav -->
                </div><!-- /.navbar-collapse -->
            </div><!--/.container-->
        </nav><!--/nav-->
        <!-- End Navigation -->
    </div><!--/.header-area-->
    <div class="clearfix"></div>

</section><!-- /.top-area-->
<!-- top-area End -->

<!--welcome-hero start -->
<section id="home" class="welcome-hero">
    <div class="container">
        <div class="welcome-hero-txt">
            <h2>我们将会按照您的需求 <br> 给您最精准的推荐 </h2>
            <p>
                填写您的需求，我们将会提供最全面，最精准的酒店，景点信息
            </p>
        </div>
        <form action="{% url 'raiders:raiders_search' %}" method="post">{% csrf_token %}
        <div class="welcome-hero-serch-box">
            <div class="welcome-hero-form">
                <div class="single-welcome-hero-form">
                    <h3>目的地</h3>
                        <input type="text" name="distination" placeholder="例如：临沂市兰山区"/>
                    <div class="welcome-hero-form-icon">
                        <i class="flaticon-list-with-dots"></i>
                    </div>
                </div>
                <div class="single-welcome-hero-form">
                    <h3>范围</h3>
                        <input type="number" name="distance" placeholder="例如：100（默认单位公里）"/>
                    <div class="welcome-hero-form-icon">
                        <i class="flaticon-gps-fixed-indicator"></i>
                    </div>
                </div>
            </div>
            <div class="welcome-hero-serch">
                <button type="submit" class="welcome-hero-btn">
                    搜索 <i data-feather="search"></i>
                </button>
            </div>
        </div>
            </form>
    </div>

</section><!--/.welcome-hero-->
<!--welcome-hero end -->

<!--list-topics start -->
<section id="list-topics" class="list-topics" style="text-align: center">
    <div class="container">
        <div class="list-topics-content">
            <ul>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="flaticon-travel"></i>
                        </div>
                        <h2><a href="#">景区</a></h2>
                        <p>1000余计景点信息</p>
                    </div>
                </li>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="flaticon-building"></i>
                        </div>
                        <h2><a href="#">酒店</a></h2>
                        <p>1000余计酒店信息</p>
                    </div>
                </li>
            </ul>
        </div>
    </div><!--/.container-->

</section><!--/.list-topics-->
<!--list-topics end-->


<script src="{% static 'raiders/assets/js/jquery.js' %}"></script>

<!--modernizr.min.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

<!--bootstrap.min.js-->
<script src="{% static 'raiders/assets/js/bootstrap.min.js' %}"></script>

<!-- bootsnav js -->
<script src="{% static 'raiders/assets/js/bootsnav.js' %}"></script>

<!--feather.min.js-->
<script src="{% static 'raiders/assets/js/feather.min.js' %}"></script>

<!-- counter js -->
<script src="{% static 'raiders/assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'raiders/assets/js/waypoints.min.js' %}"></script>

<!--slick.min.js-->
<script src="{% static 'raiders/assets/js/slick.min.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

<!--Custom JS-->
<script src="{% static 'raiders/assets/js/custom.js' %}"></script>

</body>

</html>