{% extends 'templates/attractions_backstage/base.html' %}

{% block top %}
    {{ block.super }}
{% endblock %}

<!--面包屑导航-->
{% block navigation %}
    <div class="header">
        <h1 class="page-header">
            订单详情
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'my_space:hotel_backstage' %}">后台管理</a></li>
            <li><a href="{% url 'my_space:hotel_table' %}">景区管理</a></li>
            <li class="active">订单详情</li>
        </ol>

    </div>
{% endblock %}

{% block datail %}
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <!--    Striped Rows Table  -->
                <div class="card">
                    <div class="card-action">
                       今日订单
                    </div>
                    <div class="card-content">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th class="center">姓名</th>
                                    <th class="center">联系方式</th>
                                    <th class="center">票名</th>
                                    <th class="center">票价</th>
                                    <th class="center">数量</th>
                                    <th class="center">已付</th>
                                    <th  class="center">使用时间</th>
                                    <th  class="center">下单时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                      {% for foo in today_orders %}
                                    <tr class="even gradeC">
                                        <td  class="center">{{ foo.name }}</td>
                                        <td class="center">{{ foo.phone }}</td>
                                       {% for i in attraction_price %}
                                                {% ifequal i.id foo.price_id%}
                                                        <td class="center">{{ i.ticket_name }}</td>
                                                        <td class="center">{{ i.ticket_price }}</td>
                                                {% endifequal %}
                                       {% endfor %}
                                        <td class="center">{{ foo.num }}</td>
                                        <td class="center">{{ foo.price }}</td>
                                        <td class="center">{{ foo.use_time }}</td>
                                        <td class="center">{{ foo.auth_time }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--  End  Striped Rows Table  -->
            </div>

        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12">
                <!-- Advanced Tables -->
                <div class="card">
                    <div class="card-action">
                        总订单
                    </div>
                    <div class="card-content">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th class="center">姓名</th>
                                    <th class="center">联系方式</th>
                                    <th class="center">票名</th>
                                    <th class="center">票价</th>
                                    <th class="center">数量</th>
                                    <th class="center">已付</th>
                                    <th  class="center">使用时间</th>
                                    <th  class="center">下单时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for foo in orders %}
                                    <tr class="even gradeC">
                                        <td  class="center">{{ foo.name }}</td>
                                        <td class="center">{{ foo.phone }}</td>
                                       {% for i in attraction_price %}
                                                {% ifequal i.id foo.price_id%}
                                                        <td class="center">{{ i.ticket_name }}</td>
                                                        <td class="center">{{ i.ticket_price }}</td>
                                                {% endifequal %}
                                       {% endfor %}
                                        <td class="center">{{ foo.num }}</td>
                                        <td class="center">{{ foo.price }}</td>
                                        <td class="center">{{ foo.use_time }}</td>
                                        <td class="center">{{ foo.auth_time }}</td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <!--End Advanced Tables -->
            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-6">
                <!--    Context Classes  -->
                <div class="card">

                    <div class="card-action">
                        房型详情
                    </div>

                    <div class="card-content">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="center">票名</th>
                                    <th class="center">票价</th>
                                    <th class="center">已售</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for foo in attraction_price%}
                                    <tr class="success">
                                    <td class="center">{{ foo.ticket_name }}</td>
                                    <td class="center">{{ foo.ticket_price }}</td>
                                    <td class="center">{{ foo.num }}</td>
                                </tr>
                                {% endfor %}
{#                                <tr class="danger">#}
{#                                    <td>4</td>#}
{#                                    <td>John</td>#}
{#                                    <td>Smith</td>#}
{#                                    <td>@jsmith</td>#}
{#                                </tr>#}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!--    Context Classes  -->
                <div class="card">

                    <div class="card-action">
                        收益统计
                    </div>

                    <div class="card-content">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="center">日期</th>
                                    <th class="center">收益金额</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr class="info">
                                    <td class="center">今日收益</td>
                                    <td class="center">{{ today_price }} 元</td>
                                </tr>
                                <tr class="warning">
                                    <td class="center">总收益</td>
                                    <td class="center">{{ sum_price }} 元</td>
                                </tr>
{#                                <tr class="danger">#}
{#                                    <td>4</td>#}
{#                                    <td>John</td>#}
{#                                    <td>Smith</td>#}
{#                                    <td>@jsmith</td>#}
{#                                </tr>#}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- End  Basic Table  -->
            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12">
                <!--    Context Classes  -->
                <div class="card">

                    <div class="card-action">
                        收益统计
                    </div>

                    <div class="card-content">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="center">日期</th>
                                    <th class="center">订单数</th>
                                    <th class="center">收益金额</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for foo in date %}
                                    <tr class="danger">
                                    <td class="center">{{ foo }}</td>
                                    <td class="center">{{ forloop.counter }}</td>
                                    <td class="center">{{ forloop.counter|add:128 }} 元</td>
                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- End  Basic Table  -->
            </div>
        </div>
        <!-- /. ROW  -->
    </div>
{% endblock %}